# Directorios de compilación
./build/
./out/
./include/config.h

# Ejecutables
*.out
*.o
*.exe

# Archivos y directorios de editor
.vscode/
.vs/
.idea/

# Scripts de compilación
*.sh
*.bat

build/
*.exe
*.obj
*.pdb